@media only screen and (min-width:1024px) {.headroom {will-change: transform;-webkit-transform: .25s ease-in-out;transform: .25s ease-in-out;}
	.headroom--pinned {-webkit-transform: translateY(0);transform: translateY(0);}
	.headroom--unpinned {-webkit-transform: translateY(-100%);transform: translateY(-100%);}
	.header--fixed {position: fixed !important;z-index: 10;right: 0;left: 0;top: 0;}}